{% extends 'base.html' %}
{% block title %}
    User Home|Hangray
{% endblock %}

{% block include_css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/user_home.css" %}">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
        <div class="col-md-8">
            <div class="user-info">
                <div class="page-header">
                    <span class="lead"><strong>{{ userinfo.account.first_name }}</strong></span>，
                    <span class="lead">{{ userinfo.short_introduce }}</span>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-rounded" src="{% static userinfo.avatar %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="glyphicon glyphicon-map-marker"></div>
                                <span >{{ userinfo.city }}</span>
                                <div class="glyphicon glyphicon-briefcase"></div>
                                <span >{{ userinfo.industry }}</span>
                            </div>
                            <div class="col-md-5">
                                <span>获得：</span>
                                <span class="">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    {{ userinfo.like_number }}
                                    <span>赞同</span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                    0
                                    <span>感谢</span>
                                </span>
                            </div>
                            <div class="col-md-3">
                                {% if other %}
                                    <a href="{% url 'user_detail_other' userinfo.account.id %}">查看详细资料</a></div>
                                {% else %}
                                    <a href="{% url 'userdetail' %}">查看详细资料</a></div>
                                {% endif %}
                            </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="">个人介绍：</div>
                                <div>{{ userinfo.introduce }}</div>
                            </div>
                            <div class="col-md-2">
                                <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if other %}
                                    {% if not is_followed %}
                                        <button  type="submit" class="btn btn-default btn-primary" name="btn" value="follow">关注</button>
                                    {% endif %}
                                    {% if is_followed %}
                                        <button  type="submit" class="btn btn-default btn-warning" name="btn" value="cancel_follow">取消关注</button>
                                    {% endif %}
                                {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills navin">
                            <li><a href="#">提问{{ userinfo.question_number }}</a></li>
                            <li><a href="#">赞同{{ userinfo.like_number }}</a></li>
                            <li><a href="#">回答{{ answer_number }}</a></li>
                            <li><a href="#">收藏0</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="user-action">
                <h5><b>最新动态|提问|赞同|收藏</b></h5>
            </div>
            <hr>
            <div class="user-timeline">
                {% for event in eventlist %}
                    {% include 'event_self.html' %}
                {% endfor %}
            </div>
        </div>
{% endblock %}

{% block right %}
    <div class="col-md-2">
        <p>关注了：<a href="#">16个用户</a></p>
        <p>关注者：<a href="#">50个用户</a> </p>
        <hr>
        <p>关注了话题：<a href="#">14个话题</a> </p>
        <hr>
    </div>
{% endblock %}

