<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hangary | Home</title>
    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/user_setting_account.css" rel="stylesheet">
    <link rel="icon" href="image/favicon.png">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top login-header" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="login.html">Hangary问答社区</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="login.html">主页</a></li>
                <li><a href="">提问</a></li>
                <li><a href="">发现</a></li>
                <li><a href="">话题</a></li>
                <li><a href="">消息</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown user-drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="image/myimage.jpg" alt="..." class="img-rounded user-icon">
                        卢晗晖
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><h5><div class="glyphicon glyphicon-user"></div> 我的主页</h5></a></li>
                        <li><a href="user_setting_account.html"><h5><div class="glyphicon glyphicon-cog"></div> 设置</h5></a></li>
                        <li><a href="#"><h5><div class="glyphicon glyphicon-envelope"></div> 私信</h5></a></li>
                        <li class="divider"></li>
                        <li><a href="#"><h5><div class="glyphicon glyphicon-log-out"></div> 退出</h5></a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">账户</a></li>
                <li><a href="user_setting_password.html">密码</a></li>
                <li><a href="#">消息</a></li>
                <li><a href="#">社区绑定</a></li>
            </ul>
            <h5 class="text-muted">修改你的帐户基本资料，登录信息和其他安全设置。</h5>
            <hr>
            <div class="col-md-7">

            <form role="form" class="setting-form">
                <p>姓名:</p><span class="user-name">Hangary</span>
                <input type="email" class="form-control" id="he" placeholder="姓名或昵称">
                <p>邮箱：</p><span class="user-email"> luhanhui@gmail.com</span>
                <input type="email" class="form-control" id="" placeholder="邮箱">
                <button type="submit" class="btn btn-default">修改账户</button>
            </form>
            </div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-1"></div>
    </div>

    <hr>
    <footer>
        <p>&copy; Hanhui.Lu 2014  All Copyright Reserved</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="dist/js/jquery-1.11.0.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
</body>
</html>
